@import "tailwindcss";


body {
  background: var(--background);
  color: #17253F !important;
  font-family: var(--font-poppins), Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}